/* Chivo Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100;400&display=swap');

/* Customized CSS Colors Properties */
:root {
    --primary-color: rgba(84, 230, 175);
    --primary-color-hover: rgba(179, 255, 226, 1);
    --secondary-color: rgb(44, 52, 75);
    --bg-color: rgb(18, 23, 37);
    --bg-color-transparent: rgba(18, 23, 37, 0.923);
    --white-color: rgb(255, 255, 255);
    --secondary-second-color: rgb(90, 102, 138);
    --secondary-third-color: rgb(194, 203, 229);
    --error-color: rgba(251, 62, 62, 1);
}

/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
/* Mobile-first */

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Chivo', sans-serif;
    font-size: 1.125rem;
    background: url('./assets/mobile/image-host.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
}

/* Container Styles */

.main {
    width: 100%;
    height: inherit;
    background-color: var(--bg-color-transparent);
    color: var(--white-color);
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    padding: 3.88rem 1.5rem 5.87rem;
}

/* Header Styles */
.main__header {
    display: flex;
    justify-content: center;
}

.main__header>img {
    width: 8.42817rem;
}

/* Tablet IMG */
.main__tablet-img {
    display: none;
}

/* Pattern SVG */
.main_tablet-pattern {
    display: none;
}

/* Desktop Img */
.main__desktop-img {
    display: none;
}

/* Content Style */
.main__content {
    max-width: 375px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.56rem;
}

.main__content-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.06rem;
}

.main__content-text-title {
    text-align: center;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 100;
    line-height: 2.375rem;
    text-transform: uppercase;
}

.main__content-text-title>span {
    color: var(--primary-color);
}

.main__content-text-paragraph {
    color: var(--secondary-third-color);
    text-align: center;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1.5625rem;
}

/* Logos Styles */
.main__content-logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.56rem;
    height: 1.0625rem;
    margin: 0 0.38rem 3rem;
}

.logo-partner {
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    opacity: 0.5;
}

.main__content-logo-spotify {
    background-image: url('./assets/desktop/spotify.svg');
    width: 3.5rem;
}

.main__content-logo-apple {
    background-image: url('./assets/desktop/apple-podcast.svg');
    width: 2.8125rem;
}

.main__content-logo-google {
    background-image: url('./assets/desktop/google-podcasts.svg');
    width: 4.5625rem;
}

.main__content-logo-pocket {
    background-image: url('./assets/desktop/pocket-casts.svg');
    width: 4.8125rem;
}

/* Buttons Styles */

.main__content-buttons {
    width: 100%;
}

.main__content-buttons form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input,
button {
    border-radius: 1.75rem;
    height: 2.875rem;
    border: none;
    font-style: normal;
    width: 100%;
}

.main__content-input {
    background-color: var(--secondary-color);
    padding: 0.56rem 0 0.56rem 2rem;
    color: var(--secondary-third-color);
    outline: none;
}

.main__content-input::placeholder {
    color: var(--white-color);
    font-size: 0.875rem;
    line-height: 1.75rem;
    opacity: 0.5;
    font-weight: bold;
}

.main__content-input:focus {
    color: var(--white-color);
}

.main__content-button {
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: bold;
}

.main__content-button:hover {
    background-color: var(--primary-color-hover);
    transition: background .1s ease-in-out;
}

/* Email Invalid */
.error {
    color: var(--error-color);
    font-size: 0.75rem;
    line-height: normal;
}

/* Tablet Layout */
@media only screen and (min-width: 48rem) {

    /* General Styles */
    body {
        background-image: none;
        background-color: var(--bg-color);
        height: 100%;
        overflow-x: hidden;
    }

    /* Container Styles */
    .main {
        position: relative;
        height: auto;
        padding: 3.13rem 5.87rem 16.06rem 2.44rem;
        overflow: hidden;
    }

    /* Pattern SVG */
    .main_tablet-pattern {
        display: block;
        width: 14.5rem;
        height: 6.5rem;
        position: absolute;
        bottom: 0;
        left: 1.87rem;
    }

    /* Tablet IMG */
    .main__tablet-img {
        display: block;
        width: 30.7rem;
        /* height: 47.9rem; */
        height: 47.9375rem;
        position: absolute;
        top: 0;
        right: 0;
    }


    .main__tablet-img::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99.3%;
        background: var(--primary-color);
        /* mix-blend-mode: multiply; */
        opacity: 0.1;
    }

    /* Header Styles*/
    .main__header {
        justify-content: left;
    }

    /* Content Style */
    .main__content {
        max-width: 39.6875rem;
        height: 31.9125rem;
        background-color: var(--bg-color);
        position: relative;
        margin: 9.5rem 0 0;
        z-index: 9;
    }

    .main__content-text {
        gap: 0;
        margin: 0;
    }

    .main__content-text-title {
        text-align: left;
        margin: 5.81rem 0 0;
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .main__content-text-paragraph {
        width: 27.8125rem;
        text-align: left;
        color: #C2CBE5;
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin: 1.94rem 0 2.5rem;
    }

    /* Logos Styles */
    .main__content-logos {
        width: 33.5rem;
        height: 1.8125rem;
        justify-content: flex-start;
        gap: 2.56rem;
        order: 1;
        margin: 0;
        align-self: flex-start;
        position: absolute;
        bottom: 0;
    }

    .main__content-logo-spotify {
        width: 6rem;
    }

    .main__content-logo-apple {
        width: 4.875rem;
        ;
    }

    .main__content-logo-google {
        width: 7.8125rem;
    }

    .main__content-logo-pocket {
        width: 8.0625rem;
    }

    /* Bottons Styles */

    .main__content-buttons {
        width: 26.6875rem;
        align-self: flex-start;
    }

    .main__content-buttons form {
        width: 100%;
        border-radius: 1.75rem;
        height: 3.5rem;
        background-color: var(--secondary-color);
        padding: 0 0.31rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0;
    }

    .main__content-input {
        width: auto;
        flex: 1 1;
    }

    .main__content-button {
        width: 10.125rem;
        cursor: pointer;
    }
}

@media only screen and (min-width: 90rem) {

    /* General Styles */
    body {
        height: 100vh;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .main {
        width: 79.6875rem;
        height: 40rem;
        right: 0;
        padding: 0;
        overflow: visible;
    }

    /* Table Img */
    .main__tablet-img {
        display: none;
    }

    /* Desktop Img */
    .main__desktop-img {
        display: block;
        position: absolute;
        height: auto;
        top: 0;
        right: 0;
    }

    .main__desktop-img::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99.3%;
        background: var(--primary-color);
        mix-blend-mode: multiply;
        opacity: 0.7;
    }

    /* Header Styles */
    .main__header {
        position: absolute;
        top: -1.8rem;
    }

    .main_tablet-pattern {
        left: auto;
        right: 0;
        bottom: -3.3rem;
        z-index: 9;
    }

    /* Content Styles */
    .main__content {
        max-width: 45.1875rem;
        height: 31.8125rem;
        margin: 0;
        margin-top: 8.19rem;
    }

}

@media only screen and (min-width: 120rem) {

    /* General Styles */
    body {
        justify-content: center;
    }

    /* Container Styles */

    .main {
        width: 70%;
    }
}